<p>
  Insert your IMDB Author ID below.<br/>
  To find it, go to your watchlist on IMDB.<br/>
  It should be of the form:<br/>
  <pre>http://www.imdb.com/user/<strong>your_author_id</strong>/watchlist</pre>
  <strong>Please make sure the watchlist you choose is public!</strong>
</p>

<%= form_tag "/random" %>
<%= text_field_tag :id, @uid %>
<%= submit_tag "Randomize!" %>